@import '../../../variable.scss';
//context-menu
.custom-cm {
  position: fixed;
  font-size: 0.7rem;
  background-color: $lightGray;
  color: $black;
  border: 0.05rem solid $gray;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  display: none;
  width: 9.5rem;
  z-index: 20;
}

.custom-cm__item {
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  cursor: pointer;
  padding: 8px 15px;
  img {
    pointer-events: none;
    margin-right: 0.4rem;
  }
  p {
    pointer-events: none;
    width: 100%;
  }
}

.custom-cm__item:hover {
  background-color: lighten($lightGray, 15%);
  border-radius: 4px;
}
