//Koordinat window 
.coordinate-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    .set-crs {
        width: 11.3rem;
        height: 1.5rem;
        .selectCRS {
            background-color: var(--mainRed);
            width: 100%;
            height: 100%;
            color: #f1f1f1;
            font-size: .6rem;
            padding: .25rem;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .set-crs-content {
            display: none;
            position: absolute;
            top: 4.5rem;
            left: .5rem;
            padding: 5px;
            background-color: #149F98;
            width: 11.3rem;
            z-index: 1;
            cursor: pointer;
            user-select: none;
            li {
                color: white;
                padding: .15rem;
                font-size: .6rem;
                &:hover {
                    background-color: #97A9BD;
                    color: #f1f1f1;
                }
            }
            hr {
                border: 0.5px solid #97A9BD;
            }
        }
    }
    .exportCoor {
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        height: 32px;
        width: 32px;
        li {
            font-size: 30px;
            color: var(--mainRed);
        }
    }
}

.coor-table-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30.5rem;
    background-color: var(--mainWhite);
    border: 2px solid #3b945f8f;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: var(--menuHeader);
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--mainGrey);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--menuHeader);
        height: 1rem;
    }
    .coor-table {
        position: relative;
        border-collapse: collapse;
        width: 100%;
        user-select: none;
        th {
            position: relative;
            font-size: .7rem;
            padding: .4rem;
            text-align: left;
            border-bottom: 0.1rem groove #3b945f8f;
            text-align: center;
        }
        td {
            font-size: .65rem;
            padding: .25rem;
            text-align: left;
            border-bottom: .01rem solid #3b945f8f;
            text-align: center;
        }
    }
}

.geoarea {
    user-select: none;
    margin-top: .2rem;
    display: flex;
    position: relative;
    span {
        font-size: .8rem;
        font-weight: bold;
    }
    p {
        position: relative;
        left: .2rem;
        top: .04rem;
        font-size: .8rem;
    }
}