    @import "../../../variable.scss";
    .data-content {
        height: 80%;
        width: 10%;
        padding: 0 .5rem;
        display: flex;
        align-items: center;
        user-select: none;
    }
    
    .big-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent;
        border: 1.1px solid $white;
        padding: 0.2rem;
        cursor: pointer;
        &:focus {
            outline: none;
            border: 1.1px solid $gray !important;
            background-color: lighten($gray, 10%) !important;
        }
        &:hover {
            border: 1.1px solid $gray;
            background-color: lighten($gray, 18%);
        }
        .main-caption {
            margin-top: .1rem;
            pointer-events: none;
            display: block;
            text-align: center;
            font-size: .6rem;
            color: $black;
        }
        .up-arrow {
            transform: rotate(180deg);
        }
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 7.5rem;
        padding: .2rem 0rem .2rem .9rem;
        background-color: $white;
        color: $black;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        li {
            border-left: .01rem solid lighten($gray, 30%);
            color: $black;
            padding: .2rem .3rem;
            padding-right: .4rem;
            font-size: .62rem;
            text-decoration: none;
            display: block;
            cursor: pointer;
            &:hover {
                background-color: lighten($gray, 42%);
                border-bottom: .01rem solid lighten($gray, 30%);
            }
        }
    }