    @import "../../../variable.scss";
    .layer-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0.5rem;
        user-select: none;
    }
    
    .layer-section {
        margin-bottom: .1rem;
        border-bottom: .015rem solid rgba(128, 128, 128, 0.8);
        &:hover {
            background-color: var(--layerHover);
        }
    }
    
    .layer-item {
        display: flex;
        position: relative;
        .show-detail {
            outline: none;
            border: none;
            background: transparent;
            i {
                cursor: pointer;
                position: relative;
                top: .05rem;
                font-size: .8rem;
                cursor: pointer;
                width: .75rem;
                height: 1rem;
                align-self: center;
            }
        }
        span {
            flex-shrink: 0;
            width: 7.5rem;
            margin-right: .3rem;
            word-wrap: break-word;
            font-size: .7rem;
            padding: .05rem;
            align-self: center;
        }
        .layer-translation {
            position: relative;
            left: .1rem;
            display: flex;
            button {
                align-self: center;
                outline: none;
                background-color: var(--mainWhite);
                border-radius: .2rem;
                border: 1px solid var(--mainRed);
                display: inline-block;
                cursor: pointer;
                color: var(--mainBlack);
                height: 1rem;
                padding: 0 .1rem;
                text-decoration: none;
                text-shadow: 0px 1px 0px #7cacde;
                margin-left: .1rem;
                &:hover {
                    background-color: var(--mainRed);
                    color: var(--mainWhite);
                }
                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }
        .eye {
            position: relative;
            top: .1rem;
            .eyeOn {
                color: $secondary !important;
            }
            .eyeOff {
                color: $gray !important;
            }
        }
    }
    
    .pretty {
        margin-right: 0 !important;
        input {
            height: .7rem !important;
        }
    }
    
    .opacity-bar {
        display: none;
        position: relative;
        margin-left: .7rem;
        margin-bottom: .1rem;
        input[type='range'] {
            overflow: hidden;
            position: relative;
            margin-left: .8rem;
            top: -.3rem;
            width: 60%;
            height: .4rem;
            -webkit-appearance: none;
            background-color: gray;
            outline: none;
            &::-webkit-slider-runnable-track {
                height: 10px;
                -webkit-appearance: none;
                color: #13bba4;
                margin-top: -1px;
            }
            &::-webkit-slider-thumb {
                width: .5rem;
                -webkit-appearance: none;
                height: .6rem;
                cursor: pointer;
                background: var(--mainBlack);
                box-shadow: -4rem 0 0 4rem var(--mainRed);
                &:active {
                    outline: none;
                }
            }
        }
    }