    @import "../../../variable.scss";
    .layer-list {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        user-select: none;
        height: 100%;
    }
    
    .layer-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        outline: none;
        border: none;
        &:hover {
            background-color: lighten($gray, 18%);
        }
    }
    
    .layer-item {
        display: flex;
        position: relative;
        .show-detail {
            outline: none;
            border: none;
            background: transparent;
            i {
                cursor: pointer;
                position: relative;
                top: .05rem;
                font-size: .8rem;
                cursor: pointer;
                width: .75rem;
                height: 1rem;
                align-self: center;
            }
        }
        span {
            flex-shrink: 0;
            width: 7.5rem;
            margin-right: .3rem;
            word-wrap: break-word;
            font-size: .7rem;
            padding: .05rem;
            align-self: center;
        }
        .eye {
            position: relative;
            top: .1rem;
            .eyeOn {
                color: $secondary !important;
            }
            .eyeOff {
                color: $gray !important;
            }
        }
    }
    
    .pretty {
        margin-right: 0 !important;
        input {
            height: .7rem !important;
        }
    }
    
    .opacity-bar {
        position: relative;
        left: .55rem;
        height: 1rem;
        width: 6rem;
        display: none;
        cursor: context-menu;
        input[type='range'] {
            overflow: hidden;
            position: relative;
            bottom: .157rem;
            left: .3rem;
            width: 90%;
            height: .5rem;
            -webkit-appearance: none;
            background-color: lighten($primary, 50%);
            outline: none;
            &::-webkit-slider-runnable-track {
                height: 10px;
                -webkit-appearance: none;
                color: #13bba4;
                margin-top: -1px;
            }
            &::-webkit-slider-thumb {
                width: .5rem;
                -webkit-appearance: none;
                height: .6rem;
                cursor: pointer;
                background: $gray;
                box-shadow: -4rem 0 0 4rem $primary;
                &:active {
                    outline: none;
                }
            }
        }
    }