@import "../variable.scss";
.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    width: 15rem;
    height: 37.5rem;
    background-color: $white;
    border-left: 0.05rem solid rgba(128, 128, 128, 0.836);
    box-shadow: 0 .05rem .3rem $gray;
    z-index: 10;
}

.win-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .3rem .5rem;
    background-color: $primary;
    color: $white;
    .header-text-sm {
        flex-shrink: 0;
        max-height: .8rem;
        flex-basis: 7rem;
        font-size: .65rem;
        letter-spacing: .06rem;
    }
    .header-text-lg {
        position: relative;
        left: -.5rem;
        flex-shrink: 0;
        max-height: .8rem;
        flex-basis: 10rem;
        font-size: .65rem;
        letter-spacing: .06rem;
    }
}

.header-logo {
    width: .8rem;
}

.closeIMG {
    width: .5rem;
    cursor: pointer;
}

.win-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: .8rem .5rem;
}