@import "../../../variable.scss";

.tools-big-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: 1.1px solid $white;
  padding: 0.2rem;
  margin-right: .4rem;
  width: 3.2rem;
  height: 2.5rem;
  cursor: pointer;
  &:focus {
    outline: none;
    border: 1.1px solid $gray !important;
    background-color: lighten($gray, 10%) !important;
  }
  &:hover {
    border: 1.1px solid $gray;
  }
}
