@import "../../../variable.scss";
.draw-tools-content {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 85%;
    border-right: .01rem solid $lightGray;
    width: 9.2rem;
}

.tools {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: .2rem;
    border-bottom: .01rem solid $lightGray;
    width: 12.5rem;
    height: 55%;
    .btn-tool {
        position: relative;
        left: .6rem;
        margin-right: .2rem;
        background-color: transparent;
        font-size: 0.7rem;
        width: 1.2rem;
        height: 1.2rem;
        cursor: pointer;
        border: 1.1px solid $gray;
        border-radius: .2rem;
        &:first-child {
            background-color: lighten($gray, 10%);
        }
        &:hover {
            background-color: lighten($gray, 18%) !important;
        }
        &:focus {
            outline: none;
        }
        &:active {
            background-color: lighten($gray, 10%) !important;
        }
        & img {
            pointer-events: none;
        }
    }
    .check-tool {
        position: relative;
        left: .4rem;
        margin-right: .7rem;
    }
}

.toolHader {
    display: flex;
    justify-content: center;
    margin-top: .15rem;
    span {
        font-size: .6rem;
    }
}

//Snap, modify
.options-tools-content {
    display: flex;
    flex-direction: column;
    height: 85%;
    border-right: .01rem solid $lightGray;
    width: 11.8rem;
    user-select: none;
}

.pretty {
    font-size: .7rem !important;
}

.p-info-o {
    color: $black !important;
}

.pretty input:checked~.state.p-info-o label:before,
.pretty.p-toggle .state.p-info-o label:before {
    border-color: $secondary !important;
}

//içindeki kare
.pretty.p-default:not(.p-fill) input:checked~.state.p-info-o label:after {
    background-color: $secondary !important;
}

//öncesi
.pretty .state label:before {
    border-color: $secondary !important;
}