.dr-tool {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    border: .01rem solid lightgray;
    .tools:last-child {
        border-left: .01rem solid lightgray;
    }
    .btn-tool {
        font-size: 0.7rem;
        text-align: center;
        background: transparent;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--mainBlack);
        cursor: pointer;
        border: none;
        transition: background-color 0.4s, border-radius 0.4s linear;
        &:hover {
            border-bottom: .5px solid var(--mainBlack);
        }
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(1px);
        }
        & i {
            pointer-events: none;
        }
    }
    // .btn-status {
    //     pointer-events: none;
    //     opacity: .4;
    // }
}

//Snap, modify
.options {
    pointer-events: none;
    opacity: .5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding: .2rem .2rem;
    border: .01rem solid lightgray;
    height: 80%;
    user-select: none;
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]+label {
        color: var(--mainBlack);
        font-size: .8rem;
        padding: .1rem .2rem;
        &:hover {
            background-color: var(--window-a20);
        }
    }
    input[type="checkbox"]+label span {
        display: inline-block;
        position: relative;
        top: .05rem;
        margin-right: .2rem;
        width: .65rem;
        height: .65rem;
        border-radius: 50%;
        background: white;
        border: .1rem solid var(--window);
        cursor: pointer;
    }
    input[type="checkbox"]:checked+label span {
        background: var(--window);
    }
}